.bi-container {
    animation: pageEntrance 700ms ease-out;
    color: var(--text);
    margin-top: 1vh;
}
.dashboard-btn-label {
    color: var(--text) !important;
    cursor: default;
    pointer-events: none;
    font-weight: bold;
}
