.bi-container {
    animation: pageEntrance 700ms ease-out;
    color: var(--text);
    margin-top: 1vh;
}

.covid-world-map {
    max-height: "500px";
    width: 100%;
    height: 100% !important;
}
.covid-usa-timeline {
    /* height: "1000px"; */

    width: 100%;
    height: 100% !important;
}
