.content-info {
    padding-top: 6rem;
    height: 45vh;
}
.sticky-info + .content-info {
    padding-top: 13rem;
    height: calc(45vh + 7rem);
    /* background-color: var(--dynColor); */
}
#navbar {
    background-color: var(--dynColor);
}
