.cv-div {
    animation: pageEntrance 700ms ease-out;
}

.cv-div-timeline {
    width: 33.3%;
    position: absolute;
}

.year-text {
    font: bold;
    fill: var(--text);
}
.timeline-line {
    stroke: var(--text);
}
.cv-div-container {
    width: 66.7%;
}
.cv-div-text {
    /* background: black; */
    position: fixed;
    width: 66.7%;
    height: 50%;
    right: 0;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
}

.cv-div-chart {
    /* background: black; */
    position: fixed;
    width: 66.7%;
    right: 0;
    bottom: 0;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
}

.cv-div-text > div {
    display: flex;
    padding-bottom: 2vh;
}

/* .cv-div-text > div {
    width: 100%;
    margin-right: 1vw;
    margin-left: 1vw;
} */
.time-location {
    /* flex-grow: 1; */
    padding-right: 2vw;
}
.title-company {
    /* flex-grow: 1; */
}
.cv-para {
    color: var(--text);
    /* text-align: center;
    justify-content: center; */
}
.logo {
    /* border: 1px solid #000; */
    /* background: white; */
    /* max-width: 64px; */
    max-width: 10vw;
}
@media only screen and (max-width: 700px) {
    .cv-div-text {
        /* position: absolute; */
        font-size: small;
    }
    .cv-div-chart {
        /* position: absolute; */
        margin-bottom: 0vh;
    }
}
@media only screen and (max-width: 500px) {
    .cv-div-text {
        /* position: absolute; */
        font-size: x-small;
    }
    .cv-div-chart {
        /* position: absolute; */
        margin-bottom: 0vh;
    }
}
