.cv-div {
    animation: pageEntrance 700ms ease-out;
}

.cv-div-timeline {
    width: 33.3%;
    position: absolute;
}

.year-text {
    font: bold;
    fill: var(--text);
}
.timeline-line {
    stroke: var(--text);
}
.cv-div-container {
    width: 66.7%;
}
.cv-div-text {
    position: fixed;
    width: 66.7%;
    height: 50%;
    right: 0;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
}

.cv-div-chart {
    position: fixed;
    width: 66.7%;
    right: 0;
    bottom: 0;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 2vh;
}

.cv-div-text > div {
    display: flex;
    padding-bottom: 2vh;
}

.time-location {
}
.title-company {
    padding-left: 1vw;
    padding-right: 2vw;
}
.cv-para {
    color: var(--text);
}
.logo {
    max-width: 10vw;
}
.world-map {
    max-height: "500px";
    width: "100%";
}
@media only screen and (max-height: 900px) {
    .cv-div-text {
        font-size: small;
    }
    .cv-div-chart {
        margin-bottom: 0vh;
    }
}
@media only screen and (max-height: 700px) {
    .cv-div-text {
        font-size: x-small;
    }
    .cv-div-chart {
        margin-bottom: 0vh;
    }
    .world-map {
        max-height: 150px;
    }
}
@media only screen and (max-height: 650px) {
    .cv-div-text {
        font-size: xx-small;
    }
    .cv-div-chart {
        margin-bottom: 0vh;
    }
}
