.contact-container {
    animation: pageEntrance 700ms ease-out;
    color: var(--text);
}
.contact-logo {
    border-radius: 5%;
    width: 10vw;
    height: auto;
    margin-top: 1vh;
}
.contact-logo-linkedin {
    border-radius: 10%;
    width: 10vw;
    height: auto;
    margin-top: 1vh;
}
.cv-as-pdf {
    background-color: darkorange;
    border-radius: 55%;
    color: white;
    font-size: 3vw;
    margin-top: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
@media only screen and (max-height: 700) {
    .contact-logo {
        width: 20vw;
    }
    .contact-logo-linkedin {
        width: 20vw;
    }
}
@media only screen and (max-height: 1100px) {
    .contact-logo {
        width: 15vw;
    }
    .contact-logo-linkedin {
        width: 15vw;
    }
}
