.contact-container {
    animation: pageEntrance 700ms ease-out;
    color: #f8f8f8;
}
.contact-logo {
    border-radius: 5%;
    width: 10vw;
    max-width: 100px;
    height: auto;
    margin-top: 1vh;
}
.contact-logo-linkedin {
    border-radius: 10%;
    width: 10vw;
    max-width: 100px;
    height: auto;
    margin-top: 1vh;
}
@media only screen and (max-height: 700) {
    .contact-logo {
        width: 20vw;
    }
    .contact-logo-linkedin {
        width: 20vw;
    }
}
@media only screen and (max-height: 1100px) {
    .contact-logo {
        width: 15vw;
    }
    .contact-logo-linkedin {
        width: 15vw;
    }
}
.diagonal-box.contact {
    color: white;
}
.diagonal-box.contact:before {
    background-color: #212529;
}
