.about-para {
    color: #212529;
}
.about-h {
    color: #212529;
    padding-top: 1vh;
    text-align: center;
}
@keyframes pageEntrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.diagonal-box.about {
    color: #212529;
}
.diagonal-box.about:before {
    background-color: white;
}
