.about-para {
    color: var(--text);
}
.about-h {
    color: var(--text);
    padding-top: 1vh;
}
@keyframes pageEntrance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.about-div {
    animation: pageEntrance 700ms ease-out;
}
