/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Theme variables that will be used throughout the project */
:root {
    --dynColor: hsl(0, 100%, 100%);
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dynColor) !important;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
html {
    scroll-behavior: smooth;
}
